<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" 
		 version="4.0">
		 
  <display-name>CrudServletJsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ServletAdiciona</servlet-name>
  	<servlet-class>cba.ifmt.servlets.AdicionaServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ServletConsulta</servlet-name>
  	<servlet-class>cba.ifmt.servlets.ConsultaServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ServletProcura</servlet-name>
  	<servlet-class>cba.ifmt.servlets.ProcuraUsuarioServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ServletDeleta</servlet-name>
  	<servlet-class>cba.ifmt.servlets.DeletaServlet</servlet-class>
  </servlet>
  
    <servlet>
  	<servlet-name>EnviaMunicipiosServlet</servlet-name>
  	<servlet-class>cba.ifmt.servlets.EnviaMunicipiosServlet</servlet-class>
  </servlet>
  
      <servlet>
  	<servlet-name>ServletAtualiza</servlet-name>
  	<servlet-class>cba.ifmt.servlets.AtualizaUsuarioServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EnviaMunicipiosServlet</servlet-name>
  	<url-pattern>/enviaMunicipios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletAdiciona</servlet-name>
  	<url-pattern>/adiciona</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>ServletConsulta</servlet-name>
  	<url-pattern>/consulta</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>ServletProcura</servlet-name>
  	<url-pattern>/procura</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>ServletDeleta</servlet-name>
  	<url-pattern>/deleta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletAtualiza</servlet-name>
  	<url-pattern>/atualiza</url-pattern>
  </servlet-mapping>
  
  
</web-app>